@import '../../scss/variables';

.Signup {
    min-height: 100vh;
    height: calc(100% - 3.05em);
    background: $formPageBGColors;
    background: $formPageBGGradient;
    margin-bottom: -3.05em;
display: flex;
align-items: center;
justify-content: center;
}

.container {
    margin-top:4em;
    width: 75%;
}
