@import '../../scss/variables';

.Signup {
    min-height: 100vh;
   margin-top: 3em;
    //height: calc(100% - 3.05em);
    background: $formPageBGColors;
    background: $formPageBGGradient;
   // margin-bottom: -3.05em;
display: flex;
align-items: center;
justify-content: center;
}

.container {
    margin-top:em;
    width: 75%;
}


.error-spacing{
   // margin-top: -15px;
    margin-bottom: 10px;

}