@import "../../scss/variables";
@import "~bootstrap/scss/bootstrap";
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css");

.carousel {
  z-index: 0;
}

.react-icons {
  font-size: 10em;
}

.margin {
  z-index: 0;
  line-height: 76px;
  height: 70px;
  text-align: center;
  padding-left: 1px;
  padding-right: 17px;
  color: black;
}

.my__carousel_main {
  div {
    ol {
      margin: auto;
      justify-self: center;
      li {
        margin-left: 3px;
        margin-right: 3px;
        background-color: rgba(109, 105, 105, 0.5);
        border-radius: 60%;
        margin-bottom: 5mm;
      }
    }
  }
}

