@import "../../scss/variables";
@import "~bootstrap/scss/bootstrap";
<<<<<<< HEAD
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css");
=======
>>>>>>> c69b46710559ce4d34d0f2de17ffa72a33a6564b

.carousel {
  z-index: 0;
}

.react-icons {
  font-size: 10em;
}

.margin {
  z-index: 0;
  line-height: 87px;
  height: 70px;
  text-align: center;
  padding-left: 1px;
  padding-right: 17px;
  color: black;
  font-size: 13px;
}

.my__carousel_main {
  div {
<<<<<<< HEAD
    ol {
      margin: auto;
      justify-self: center;
      li {
        margin-left: 3px;
        margin-right: 3px;
        background-color: rgba(109, 105, 105, 0.5);
        border-radius: 60%;
        margin-bottom: 5mm;
      }
    }
  }
}

=======
      margin-top: 3em;
    ol {
      list-style-type: initial;
      margin: auto;
      justify-content: center;
      li {
        cursor: pointer;
        font-size: 50px;
        margin-left: 15px;
        margin-right: 15px;
        border-radius: 60%;
        margin-bottom: 3mm;
        color:rgba(170, 163, 163, 0.63);
        &:active {
            opacity: 0.75;
          }
        }
      }
    }
  }
>>>>>>> c69b46710559ce4d34d0f2de17ffa72a33a6564b
