@import '../../scss/variables';
@import "~bootstrap/scss/bootstrap";  
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');

.carousel {
    z-index: 0;
}

.react-icons {
    font-size: 10em;
  }



//@media (max-width: 5px) {
  // .carousel-indicators {
  //   bottom: auto;
  //   top: 105%;
  // }
//   .carousel-indicators li {
//    // border-color: #666;  
//     //padding-left: 40px;
//   }
//   .carousel-indicators .active {
//     background-color: #666;
//   }

// .carousel-control-next-icon {
// font-size: 15em; 
// }
// .carousel-control-prev-icon{
// //  background-image : url(//url of icon);
// font-size: 50em; 
// }

// .nextIcon{
//     color:black;

.margin {
    line-height: 76px;
    height: 70px;
    //border: 3px solid green;
    text-align: center;
    padding-left: 0;
    padding-right: 17px;
    color: black;
}

.my__carousel_main {
    div{ 
        ol{
          margin: auto;//padding-left: 50mm;
            li{ 
                //background-color:gray;
                border-radius: 50%;
                height: 20px;
                width: 20px;
                
              
            } &:active {
              border-radius: 50%;
                height: 20px;
                width: 20px;
            }
        }
    }
}


// .my__carousel_main  {
//   div{ 
//       ol{
//         margin: auto;//padding-left: 50mm;
//           li:active{ 
//               //background-color:gray;
//               border-radius: 50%;
//               height: 20px;
//               width: 20px;
              
            
//           }
//       }
//   }
// }

// .carousel-indicators li {
//     background-color: #999;
//     background-color: rgba(70, 70, 70, 0.25);
//     width: 10px;
//  height: 10px;
//   border-radius: 100%;
//   }
  
//   .carousel-indicators .active {
//     background-color: #444;
//   }

/* Add an extra .carousel parent class to increase specificity
//    avoiding the use of !important flag. */
//    .carousel .carousel-indicators li {
//     background-color: #fff;
//     background-color: rgba(70, 70, 70, 0.25);
//   }
  
//   .carousel .carousel-indicators .active {
//     background-color: #444;
//   }

//   #slider {
//     height: 350px;
//     //overflow: hidden;
//     width: 100%;
// }
// .carousel-indicators li {
//     width: 10px;
//     height: 10px;
//     border-radius: 100%;
// }
// .carousel-indicators {
//     bottom: -50px;
// }