.container {
    width: 90%;
    color: rgb(38, 50, 56);
    font-weight: 500;
    font-size: 11px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 40px;
    border: none;
    border-radius: 0px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    text-align: center;
    margin-bottom: 40px;
    font-family: "Ubuntu", sans-serif;
  }
  
  .container:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
  }
  
  .sign {
    text-align: center;
    padding-top: 30px;
    color: #4e4b50;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-size: 17px;
    vertical-align: 10px;
    padding-left: 0px;
  }