@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@import "../../scss/variables";

.card {
  margin-bottom: 5em;
  margin-left: 3em;
  width: 32em;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.432), 0 0 10px rgba(0, 0, 0, 0.493);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.title {
  margin-top: -4em;
  color: navy;
  font-family: $fontStack;
  font-size: 1.5em;
  font-weight: 900;
}

.cost {
  margin-top: -4.8em;
  font-weight: 900;
  font-size: 1.7em;
  font-family: $fontStack;
  color: black;
}
.cents {
  font-size: 0.6em;
}
.image {
  height: auto;
}
@import "~bootstrap/scss/bootstrap";

.modal {
  align-items: center;
  margin-bottom: 200px;
}

.details {
  height: 500px;
}

.buttonDetails {
  cursor: pointer;
  align-items: center;
  justify-items: center;
  border-radius: 0px;
  color: #fff;
  background: $button;
  border: 0;
  padding-bottom: 7px;
  padding-top: 7px;
  margin-top: 10px;
  font-family: $fontStack;
  text-decoration: none;
  font-size: 1.1em;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  width: 100%;
  &:hover {
    opacity: 0.75;
  }
}
