@import '../../scss/variables';
.container {
    position: absolute;
    width: 100%;
    text-align: center;
    background: $headerBGColor;
    margin-bottom:-3.05em;
    left: 0;
    flex-shrink: 0;
}
.footer {
    font-family: $fontStack;
    color: $headerFontColor;
    font-size: 1.20em;
    text-decoration: none;
}