@import '../../scss/variables';

.demographics {
    padding-top: 1.25em;
    font-weight: bold;
    font-family: $fontStack;
}

.container {
    overflow: hidden;
    min-height: 85.35vh;
    height: calc(100% - 3.05em);
    margin-bottom: 0px;
  }