@import "../../scss/variables";

.close {
  position: absolute;
  font-size: 48pt;
  color: #c02a13;
  top: 15px;
  right: 5px;
  bottom: 15px;
  width: 40px;
  height: 40px;
  &:hover {
    opacity: 0.75;
  }
  &:close {
    opacity: 1;
  }
}

@media all and (min-width: 600px) {
  .image {
    flex: 3 0 0;
  }
}

@media all and (min-width: 800px) {
  .image {
    flex: 1 0px;
  }
  .image {
    order: 1;
  }
  .text {
    flex: 3 0px;
  }
  .text {
    order: 2;
  }
  .buttonCart {
    order: 3;
  }
}

.name {
  font-family: $fontStack;
  font-weight: bold;
  font-size: 30px;
  height: 125px;
  margin-right: 20px;
  padding-right: 12px;
  margin-left: -35px;
}

@media screen and (max-width: 990px)  {
  div.name {
    font-size: 18px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 3px;
    height: auto;
  }
}

@media screen and (max-width: 1200px) and (min-width: 990px) {
  div.name {
    font-size: 24px;
    margin-left: 0px;
    padding-right: 12px;
    height: 105px;
  }
}

.price {
  font-family: $fontStack;
  font-size: 25px;
  font-weight: bold;
  height: 90px;
  color: green;
  margin-left: -35px;
}

@media screen and (max-width: 990px)  {
  div.price {
    font-size: 16px;
    margin: auto;
    padding-bottom: 8px;
    height: auto;
  }
}

@media screen and (max-width: 1200px) and (min-width: 990px) {
  div.price {
    font-size: 20px;
    margin-left: 0px;
    height: 85px;
  }
}

.description {
  font-family: $fontStack;
  font-size: 22px;
  height: 155px;
  margin-left: -35px;
}

@media screen and (max-width: 990px) {
  div.description {
    font-size: 14px;
    margin: auto;
    padding-bottom: 8px;
    height: auto;
  }
}

@media screen and (max-width: 1200px) and (min-width: 990px) {
  div.description {
    font-size: 14px;
    margin-left: 0px;
    height: 110px;
  }
}

.demographics {
  font-family: $fontStack;
  font-size: 22px;
  height: 45px;
  margin-left: -35px;
}

@media screen and (max-width: 990px) {
  div.demographics {
    font-size: 14px;
    margin: auto;
    padding-bottom: 3px;
    height: auto;
  }
}

@media screen and (max-width: 1200px) and (min-width: 990px) {
  div.demographics {
    font-size: 18px;
    margin-left: 0px;
    height: 25px;
  }
}

.category {
  font-family: $fontStack;
  font-size: 20px;
  margin-left: -35px;
  height: 35px;
}

@media screen and (max-width: 990px) {
  div.category {
    font-size: 12px;
    margin: auto;
    padding-bottom: 3px;
    height: auto;
  }
}

@media screen and (max-width: 1200px) and (min-width: 990px) {
  div.category {
    font-size: 16px;
    margin-left: 0px;
    height: 25px;
  }
}

.type {
  font-family: $fontStack;
  font-size: 20px;
  margin-left: -35px;
  height: 92px;
}

@media screen and (max-width: 990px){
  div.type {
    font-size: 12px;
    margin: auto;
    height: auto;
  }
}

@media screen and (max-width: 1200px) and (min-width: 990px) {
  div.type {
    font-size: 16px;
    margin-left: 0px;
    height: 40px;
  }
}

.buttonContainer {
  display: flex;
  margin-bottom: 45px;
  margin-left: -40px;
  padding-right: 10px;
  justify-content: center;
}
@media screen and (max-width: 1200px) {
  div.buttonContainer {
    font-size: 12px;
    height: auto;
    margin-left: -22px;
  }
}

.buttonCart {
  position: absolute;
  cursor: pointer;
  border-radius: 0px;
  color: #fff;
  background: $button;
  border: 0;
  padding-bottom: 8px;
  padding-top: 8px;
  margin-top: 10px;
  font-family: $fontStack;
  text-decoration: none;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  width: 35%;
  &:hover {
    opacity: 0.75;
  }
}
