@import '../../scss/variables';

.form {
  background-color: #ffffff;
  width: 50%;
  display:flex;
  justify-content: center;
  margin: 0 auto;
  border-radius: 3px;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 7, 0.274);
  text-align: left;
  font-family: $fontStack;
}
@media screen and (max-width: 1200px) {
  .form {
    font-size: 12px;
    height: auto;
width:80%
  }
}

h1 {
  font-family: $fontStack;
  margin-top: -2em;
}

.submit {
  padding-top: 1.8em;
  display: flex;
  align-items: center;
  justify-content: center;

}
label{
  padding-top: -3em;
}

@mixin button {
  padding:$padding;
	display:inline-block;
  border: $border;
	border-radius:$border-radius;
	background:$button;
	font-size:$font-size;
  font-family: $fontStack;
	color:$font-color;
    &:hover {
    opacity: 0.75;
    }
}

.btn {
	@include button;
  margin-bottom: -2em;
}
@media screen and (max-width: 1200px) {
  .btn {
    font-size: 12px;
    height: auto;

  }
}
