@import '../../scss/variables';
.submit {
  cursor: pointer;
  border-radius: 0px;
  color: #fff;
  background: $button;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 10px; //TODO: adjust for form modifications
  margin-left: .75em;
  font-family: $fontStack;
  text-decoration: none;
  font-size: 1.1em;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  width: 90%;
  
}

.Signup {
  min-height: 100vh;
  height: calc(100% - 3.05em);
  background: $formPageBGColors;
  background: $formPageBGGradient;
  margin-bottom: -3.05em;
display: flex;
align-items: center;
justify-content: center;
}

.container {
  margin-top:2em;
  width: 50%;
}

.error {
  height: 30px;
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 17px;
  color: tomato;
  align-items: center;
}

.emailError {
  height: 30px;
  padding-top: 0px;
  font-size: 17px;
  color: tomato;
  padding-left: 100px;
}


.link {
  padding-top: 20px;
  padding-bottom: 10px; //TODO: adjust for form modifications
  font-size: 1em;
  font-family: $fontStack;
  //padding-left: .5em;
  text-align: center;

  :link {
    color: $navlinksFontColor;
  }
  :visited {
    text-decoration: none;
    color: $navlinksFontColor;
  }
  :hover {
    color: rgb(63, 60, 204);
  }
}

button {
  margin-bottom: 1em;
}
