/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
.products{background-image: linear-gradient(to bottom, #011a3f, #255696, #6c829e, #adbbcc, #e7e8e9)};
.women, .men, .kids{
    padding-bottom: 2em;
    color: white;
}
.men{
    padding-top: 2em;
}